* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Colors */
html {
  --neutral_bg_color: black;
  /*--primary_color: #e14817;*/
  --primary_color: #9172EC;
  --bg-secondary: black;
  --white: #ffffff;
}

/*  */
body {
  /*font-family: "Poppins", sans-serif;*/
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1.2;
  font-size: 16px;
  letter-spacing: 1px;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 20px 0;
}
p {
  text-align: justify;
}
h1,
.h1 {
  font-size: 60px;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 44px;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 24px;
  font-weight: 500;
}
h4,
.h4 {
  font-size: 20px;
  font-weight: 500;
}
video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* Buttons */
.button,
.form-btn {
  background-color: var(--primary_color);
  border-radius: 10px;
  padding: 10px 24px;
  border: 1px solid var(--primary_color);
  display: inline-block;
  color: var(--white);
  width: max-content;
}

.button--secondary {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 10px 24px;
  display: inline-block;
  width: max-content;
}

#button--secondary {
  display: inline-flex;
  align-items: center;
  width: max-content;
}
#button--secondary span {
  margin-left: 10px;
}
.p-content {
  color: #57585d;
}

/* Form Style */
.form-label > * {
  margin-bottom: 10px;
  width: 100%;
  display: block;
  font-weight: 500;
}
input {
  font-family: "Poppins", sans-serif;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="submit"],
input[type="checkbox"],
input[type="tel"],
textarea,
select {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  font-size: 16px;
  width: 100%;
  outline: 0;
  padding: 13px 10px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
}

.form-field {
  margin-bottom: 20px;
  position: relative;
}

.p-info {
  font-size: 20px;
}
.p-white {
  color: #fff !important;
}

.border-10 {
  border-radius: 10px;
}

.align-middle {
  text-align: center;
}

.width-100 {
  width: 100px;
  height: 100px;
}

@media (max-width: 1024px) {
  h1,
  .h1 {
    font-size: 40px;
  }

  h2,
  .h2 {
    font-size: 36px;
  }

  h3,
  .h3 {
    font-size: 22px;
  }
  h4,
  .h4 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: 30px;
  }
}
