* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Colors */
html {
  --neutral_bg_color: black;
  /*--primary_color: #e14817;*/
  --primary_color: #9172EC;
  --bg-secondary: black;
  --white: #ffffff;
  --linear-bg: linear-gradient(145deg, #3a3a3c, #9172EC, #d1c4e9);
  --linear-bg-2: linear-gradient(120deg, #1f1f47, #9172EC, #6f42c1);
}

.text-hid {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 199px;
  text-wrap: nowrap;
}

/*  */
body {
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1.2;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: var(--bg-secondary);
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 20px 0;
}
h1,
.h1 {
  font-size: 60px;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 44px;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 24px;
  font-weight: 500;
}
h4,
.h4 {
  font-size: 20px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}
video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* Buttons */
.button,
.form-btn {
  background-color: var(--primary_color);
  border-radius: 10px;
  padding: 10px 24px;
  border: 1px solid var(--primary_color);
  display: inline-block;
  color: var(--white);
  width: max-content;
  cursor: pointer;
}

.button--secondary {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 10px 24px;
  display: inline-block;
  width: max-content;
}

#button--secondary {
  display: inline-flex;
  align-items: center;
  width: max-content;
}
#button--secondary span {
  margin-left: 10px;
}
.p-content {
  color: #57585d;
}

/* Form Style */
.form-label > * {
  margin-bottom: 10px;
  width: 100%;
  display: block;
  font-weight: 500;
}
input {
  font-family: "Poppins", sans-serif;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="submit"],
input[type="checkbox"],
input[type="tel"],
textarea,
select {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.2;
  font-size: 16px;
  width: 100%;
  outline: 0;
  padding: 13px 10px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  color: black;
}

input[type="date"] {
  font-family: inherit;
  padding: 5px 15px;

}

.form-field {
  margin-bottom: 20px;
  position: relative;
}

.p-info {
  font-size: 20px;
}
.p-white {
  color: #fff !important;
}

.p-red {
  color: red !important;
}
.p-gray {
  color: gray !important;
}

.bg-gray {
  background-color: #80808047 !important;
}

.border-10 {
  border-radius: 10px;
}

.border-15 {
  border-radius: 10px;
}

.border-20 {
  border-radius: 20px;
}

.p-black {
  color: var(--bg-secondary) !important;
}

.pp-black {
  /*color: var(--bg-secondary);*/
}

.align-middle {
  text-align: center;
}

.width-90 {
  width: 90px;
}
.height-130 {
  height: 130px;
}
.display-flex {
  display: flex;
}
.display-middle {
  justify-content: center;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-14 {
  font-size: 14px;
}

.padding-0 {
  padding: 0;
  margin: 0;
}

.p-purple {
  color: var(--primary_color);
}

.text-justify {
  text-align: justify !important;
}

.invalid-message {
  color: red;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
}

.font-family-default {
  font-family: 'Bebas Neue', sans-serif !important;
}
.bg-black {
  background-color: var(--bg-secondary) !important;
}

.item-hover:hover {
  background: var(--primary_color);
  border-radius: 10px;
}

.item-hover a:hover {
  background: var(--primary_color) !important;
}

.margin-btm-sm {
  margin-bottom: .5em;
}
.c-primary {
  background-color: var(--primary_color) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.purple-bg {
  background-color: var(--primary_color);
}

.mb-custom-5em {
  margin-bottom: 5em !important;
}


@media (max-width: 1024px) {
  h1,
  .h1 {
    font-size: 40px;
  }

  h2,
  .h2 {
    font-size: 36px;
  }

  h3,
  .h3 {
    font-size: 22px;
  }
  h4,
  .h4 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: 30px;
  }
}






/* === Base Theme Tokens === */
.bg-dark-mode {
  background-color: var(--bg-secondary) !important;
}
.bg-dark-mode table > :not(caption) > * > * {
  background-color: var(--bg-secondary) !important;
  color: #fff;
}
.bg-light-mode {
  background-color: #f8f9fa !important;
}

.text-dark-mode {
  color: #ffffff !important;
}
.text-light-mode {
  color: #212529 !important;
}

/* Optional gradient avatar */
.linear-grad {
  /*background: linear-gradient(135deg, #6f42c1, #3a0ca3);*/
  background: var(--primary_color);
  border: none;
}
.linear-grad-2 {
  /*background: var(--linear-bg-2);*/
  background: var(--primary_color);
  border: none;
}

/* Theme container styling */
.dashboard.dark-mode {
  background-color: var(--bg-secondary);
  color: #f1f1f1;
}

.dashboard.light-mode {
  background-color: #ffffff;
  color: #212529;
}
