.benefits-row-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits {
  background-image: url("../../assets/Maskgroup2.png");
  background-color: #0f1017;
  padding: 20px 0;
}

.col-benefits-image {
  flex: 0 0 50%;
  max-width: 45%;
}

.col-benefits-content {
  flex: 0 0 50%;
  max-width: 45%;
}

.col-benefits-content ul li {
  margin: 10px 0;
  position: relative;
  color: #fff;
  list-style: none;
  padding-left: 32px;
  margin: 20px 0;
}

.col-benefits-content ul li:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 24px;
  left: 0px;
  right: 0;
  padding-left: 10px;
  background-image: url(../../assets/tick-circle.svg);
  color: var(--primary_color);
}

@media (max-width: 767px) {
  .benefits-row-wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .benefits {
    padding: 50px 0;
  }
  .col-benefits-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-benefits-image {
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
  }
  .col-benefits-image img {
    width: 100%;
  }
}
