.videoContainer {
    video {
        @include media-breakpoint-down(md) {
            aspect-ratio: 9/16;
        }
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 9/6;
    }
}