.all-featuers {
  background-color: #0f1017;
  background-image: url("../../assets/Maskgroup.svg");
  padding: 6.593rem 0;
}
.all-features-row-wrapper {
  display: flex;
  justify-content: space-between;
}
.col-features-content {
  max-width: 45%;
}
.col-features-image {
  max-width: 42%;
}

.h2-all-features {
  color: #fff;
}
.col-features-content .ff {
  position: relative;
  padding-left: 17px;
}
.col-features-content .ff::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  top: 50%;
  left: 0px;
  background: #57585d;
}

.col-features-content ul {
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  padding: 30px 0;
}
.col-features-content ul li {
  margin: 10px 0;
  position: relative;
  padding-left: 30px;
}

.col-features-content ul li:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 24px;
  left: 0px;
  right: 0;
  padding-left: 10px;
  background-image: url(../../assets/tick-circle.svg);
  color: var(--primary_color);
}
.col-features-image img {
  width: 100%;
}
.col-features-content ul li a {
  list-style: none;
  color: #fff;
}

.list-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-tags ul {
  flex: 0 0 50%;
  max-width: 48%;
}

@media (max-width: 768px) {
  .all-features-row-wrapper {
    flex-direction: column;
  }
  .all-featuers {
    padding: 1.593rem 0;
  }
  .col-features-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-features-image {
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
  }

  .list-tags ul {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
