.upcoming-events {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.event-heading {
  padding-top: 100px;
}

.head1 {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .upcoming-events {
    flex-direction: column;
  }
}
