.button-container button {
    font-family: inherit;
    letter-spacing: 2px;
}

.primary {
    background-color: var(--primary_color);
    padding: 15px 20px;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.button-container .secondary {
    background-color: var(--bg-secondary);
    padding: 15px 20px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.button-container .other {
    background-color: var(--neutral_bg_color);
    padding: 15px 20px;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.third-btn {
    color: black;
}
.button-container .last {
    background-color: white;
    padding: 15px 20px;
    border: 1px solid var(--primary_color);
    color: var(--primary_color);
    border-radius: 10px;
    cursor: pointer;
}

.button-container .last:hover {
  background-color: var(--primary_color);
  color: white;
}

.button-container .last.closed {
  padding: 15px 20px;
  margin: 10px 0 0 0;
  border: none;
  background: transparent;
  border-radius: 10px;
  color: gray;
}

.button-container .last.soon {
  padding: 15px 20px;
  margin: 10px 0 0 0;
  border: none;
  background: transparent;
  border-radius: 10px;
  color: var(--primary_color);
}
