.organizer, .admin {
    .sidebar {
        border-right: none !important;
        .switch {
            width: fit-content;
            margin: 1em 0 0 1.5em;
        }
    }

    .wrapper {
        width: 100%;
        padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
        will-change: auto;
        transition: padding .15s;
    }
}

.sidebarheader {
    padding: 0 !important;
    position: relative;
    display: block;
    @include media-breakpoint-down(md) {
    }

    .logo-image {
        height: 45px;
        width: 115px;
    }

    .close-icon {
        position: absolute;
        right: 0%;
        bottom: 60%;
    }
}

.sidebar-nav {
    margin-top: 2em;
}