.edit-coupon-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1em;
}

.copon-card-text-container {
  display: flex;
  gap: 1em;
}

.copon-card-text {
  width: fit-content;
}