.body-panel {
    flex-grow: 1 !important;
}

.dashboard-analytics {
    @include media-breakpoint-down(md) {
        width: 100% !important;
    }
}

.dashboard {
    .header {
        height: 2em;
        @include media-breakpoint-down(md) {
            height: 4em;
        }
    }

    .attendees-data-container {
            margin: 0 !important;
            padding: 0 !important;
            @include media-breakpoint-down(md) {
                gap: 0 !important;
                .oone {
                    margin-right: 1em;
                }
            }
    }
}

.card {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1) !important;
}

.dashboard-controls {
    padding: 10px 0px !important;
    @include media-breakpoint-down(md) {
        padding: 0 !important;
        justify-content: flex-start;
    }
}

.react-datepicker-popper {
    z-index: 5;
}

.dashboard-controls-container {
    justify-content: space-between;
    position: relative;
    z-index: 12;
}

.dashboard-controls-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include media-breakpoint-down(md) {
        margin-bottom: 1em;
    }
}