.body-panel {
    flex-grow: 1 !important;
}

.dashboard-analytics {
    @include media-breakpoint-down(md) {
        width: 100% !important;
    }
}

.card {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1) !important;
}