.gallery-page {
    h2 {
        text-align: center;
    }

    .hero-banner {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        padding-top: 35%;
        @include media-breakpoint-down(md){
            padding-top: 60%;
            height: 58vh;
        }

    }

    .gallery-wrapper {
        padding-top: 6em;
        padding-left: 1em;
        padding-right: 1em;
        @include media-breakpoint-up(md) {
            padding-left: 6em;
            padding-right: 6em;
        }
    }
}

