.guest-checkout-form {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    .form-group {
        margin: 1em 0em;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .guest-checkout-btn {
        background-color: var(--primary_color);
        color: #fff;
        padding: 20px 25px;
        border-radius: 10px;
        align-self: center;
        height: fit-content;
        width: fit-content;
        border: none;
    }
}