@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";


@import '@fontsource/bebas-neue';

@import 'mixins';
@import "variables";
@import "images";

@import "home";
@import "event";
@import "gallery";
@import "signup";
@import "login";
@import "input";
@import "page404";
@import "about";
@import "notification";
@import "accountMenu";
@import "dashboard";
@import "others";
@import "phoneInput";
@import "loadingIndicator";
@import "switch";
@import "selectOptions";
@import "faq";
@import "coupon";
@import "terms";
@import "cart";
@import "guest";
@import "order";

