.login {
    @include media-breakpoint-down(md) {
        height: 100vh;
    }
    .left-login {
        @include media-breakpoint-down(md) {
            display: none;
        }
        img {
            margin-bottom: -5px;
            height: 101vh;
        }
    }

    .right-login {
        @include media-breakpoint-up(md) {
            width: 50%;
            height: 100%;
            margin: 0;
            position: relative;
        }
        width: 100%;
    }
}