@mixin backgroundControl () { 
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

@mixin icon ($backgroundImage, $width: 100%, $height: 100%) {
  background-image: $backgroundImage;
  background-position: center;
  background-repeat: no-repeat;
  width: $width;
  height: $height;
}