.dropdown-confirm {
  border: 2px solid var(--primary_color);
  padding: .5em 1em;
  margin: 0.7em 0 0.7em 0;
  width: fit-content;
  border-radius: 5px;


  .dropdown-menu {
    transform: translate3d(45.8px, -19.2px, 0px) !important;
    padding: 1em;
  }
}

.transition-icon {
  transition: transform 0.3s ease;
}

.transition-icon.rotate {
  transform: rotate(180deg);
}

.switch {
    input {
        padding: 0 !important;
    }
}

// buttons
.button-container {
  width: fit-content;
}
.third-btn {
  border: 1px solid var(--bs-border-color-translucent);
  padding: .5em 1em;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 1em;
}

.add-event-actions {
  margin-top: 2em;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edit-event-actions {
  margin-top: 2em;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-for-mobile {
  @include media-breakpoint-down(md) {
    width: 100%;
    height: 17vh;
    img {
      width: 33% !important;
    }
  }
  img {
    width: 25% !important;
    height: 19vh;
  }
  width: 35vw;
}
