.page-404 {
    height: 100vh;
    @include media-breakpoint-down(md) {
        height: 100vh;
    }
    .hero-banner {
        height: 100vh;
        padding-top: 15em;
        @include media-breakpoint-down(md) {
            padding-top: 10em;
        }
    }
    .col-banner-image {
        display: block;
    }
}