.PhoneInput {
    background: white;
    padding-left: 10px;
    border-radius: 10px;
    color: black;

    #phone-input {
        border-left: none;
        border-radius: 0px 10px 10px 0px;
        border: none;
    }

    img {
        height: fit-content;
        border-radius: 0;
    }
}