.select-box {
  margin: 10px 0px;

  label {
    margin-bottom: 5px;
  }

  .select-container {
    .select-option__multi-value__label {
      font-weight: $font-weight-normal;
      font-size: $font-size-small;
    }
  }
}