.conference-sln-row-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
}

.col--conference-content {
  max-width: 60%;
  text-align: center;
}

.col--conference-image {
  padding: 64px 0;
}
.col--conference-image img {
  width: 100%;
}

@media (max-width: 1024px) {
  .conference-sln-row-wrapper {
    flex-direction: column;
  }
  .col--conference-content {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .col--conference-image {
    flex: 0 0 100%;
    width: 100%;
    padding: 30px 0;
    align-items: center;
  }
}
