.row-wrapper-about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3.74rem 0;
  max-width: 1220px;
  margin: 0 auto;
}

.col-about-us-h2 {
  flex: 0 0 50%;
  max-width: 48%;
}
.col-about-us-h2 p {
  position: relative;
  color: #c3c3c5;
  padding-left: 25px;
}

.col-about-us-h2 p strong::before {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background: #c3c3c5;
  position: absolute;
  top: 50%;
  left: 0;
}

.col-about-us-p {
  flex: 0 0 48%;
  color: #57585d;
}

@media (max-width: 768px) {
  .row-wrapper-about-us {
    padding: 1.74rem 0;
  }
  .col-about-us-h2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-about-us-p {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
