header {
    // background-color: $other-color;
    height: fit-content;
    .lg {
        @include media-breakpoint-down(lg) {
            display: none;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        .row-1 {
            display: flex;
            a {
                gap: 1em;
                display: flex;
            }
        }
        .row-2 {
            display: flex;
            gap: 3.5em;
        }
        .row-3 {
            display: flex;
            gap: 1em;
        }
    }

    .md {
        display: none;
        @include media-breakpoint-down(lg) {
            display: flex;
        }
    }
}
