.getting-msg-row-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: self-start;
}
.col-getting-msg-profile {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}

.col-getting-msg-profile img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  align-items: center;
}
.col-getting-msg-content {
  max-width: 45%;
}

.getting-msg {
  padding: 100px 0;
}
.image-founder {
  margin: 0 20px;
  align-items: center;
}

@media (max-width: 767px) {
  .getting-msg-row-wrapper {
    flex-wrap: wrap;
    align-items: center;
  }
  .getting-msg {
    padding: 40px 0;
  }
  .col-getting-msg-profile {
    flex: 0 0 100%;
    align-items: center;
    max-width: 100%;
    justify-content: normal;
  }
  .col-getting-msg-content {
    flex: 0 0 100%;
    max-width: 100%;

    margin-top: 50px;
  }
}
