.contactform-wrapper {
  padding-top: 50px;
}

.wrapper-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.contact-details {
  max-width: 50%;
  flex: 0 0 40%;
}
.wrapper-inner .col-login-form {
  max-width: 50%;
  flex: 0 0 48%;
  position: relative;
}

.phone {
  flex: 0 0 48%;
  max-width: 50%;
}
.state {
  flex: 0 0 48%;
  max-width: 50%;
}

.googlemaps {
  padding-top: 80px;
}

.toggle {
  display: none;
}
.show {
  display: block;
}
.thanks-contactus {
  display: block;
  flex: 0 0 48%;
}
.contact-us-logos-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logos {
  flex: 0 0 7%;
}
.content-logos {
  flex: 0 0 93%;
}
@media (max-width: 767px) {
  .contact-details {
    max-width: 100%;
    flex: auto;
    margin-bottom: 30px;
  }
  .wrapper-inner .col-login-form {
    max-width: 100%;
    flex: auto;
  }
}
