.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-card {
  width: 50%;
}

.popup-close {
  position: absolute;
  top: 20%;
  right: 12px;
  background: white;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 24px;
  cursor: pointer;
  z-index: 90000000000;
}

.popup-content {
  margin: 16px 0;
  /*background-color: var(--primary_color);*/
  background: transparent;
  border-radius: 10px;
  padding: 2em;
  color: white;
  text-align: center;
  z-index: 10000;
  height: 30em;
}

.popup-image {
    background-size: cover !important;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    border-radius: 10px;
}

.popup-text {
  margin-top: 2em;
}

.popup-text h2 {
  margin: 12px 0 8px;
  font-size: 1.5rem;
}

.popup-text p {
  font-size: 1rem;
  opacity: 0.85;
}

.popup-cta {
  background-color: white;
  color: #000;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  margin-top: 16px;
  cursor: pointer;
  width: 90%;
}

.popup-tickets {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.ticket-price {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.timer {
  margin-bottom: 2em;
}

.popover-link button {
  margin: 0;
}

.ticket-price-container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  width: 19em;
}

@media (max-width: 576px) {
  .popup-card {
    width: 97%;
  }
}
