.login {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #f8f8f8;
  align-items: center;
  height: 100vh;
}
.col-login-image h1 {
  text-align: center;
  color: #867f7f;
}
.col-login-image-brand-section {
  opacity: 0.6;
}
.col-login-image-brand-section .slick-track {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.col-login-image-brand-section a {
  padding: 10px;
}

.left-login {
  background-color: #f8f8f8;
  /* overflow: auto; */
  flex: 0 0 50%;
  padding: 20px 40px;
  max-height: 100%;
  max-width: 50%;
}
.left-login p {
  text-align: center;
}

.right-login {
  flex: 0 0 50%;
  flex-wrap: wrap;
  padding: 20px 40px;
  overflow: auto;
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}
.form-btn {
  min-height: 51px;
}
.google-btn {
  width: 100%;
  outline: 0;
  padding: 13px 10px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  min-height: 51px;
}

.google-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-btn span img {
  margin-right: 10px;
}
.google-btn a {
  color: black;
}
.col-login-form {
  margin: auto 0;
}

.create-account-links {
  padding: 30px 0 0;
}
.create-account-links span a {
  color: var(--primary_color);
  margin-left: 5px;
}

.or-line {
  width: 100%;
  max-width: 100%;
}
.or-line p {
  text-align: center;
  position: relative;
}
.or-line p::before {
  content: "";
  display: block;
  width: 270px;
  height: 1px;
  background: #867f7f;
  left: 0;
  top: 50%;
  position: absolute;
}
.or-line p::after {
  content: "";
  display: block;
  width: 270px;
  height: 1px;
  background: #867f7f;
  right: 0;
  top: 50%;
  position: absolute;
}
.or-line span {
  background: #fff;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.forget-pass-sec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.remember-me {
  flex: 0 0 60%;
  color: #867f7f;
  opacity: 0.8;
  display: flex;
  align-items: center;
}
.remember-me .form-label label {
  margin: 0;
}
.remember-me .input {
  padding-right: 5px;
}
.forget-pass a {
  color: var(--primary_color);
}
.logo-signup a {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.logo-signup a:hover {
  color: chocolate;
}
.logo-signup svg {
  flex: 0 0 3%;
}
.logo-signup p {
  flex: 0 0 25%;
  text-align: left;
}

/* Sign Up Page CSS */
.name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first-name {
  flex: 0 0 48%;
}

.last-name {
  flex: 0 0 48%;
}

@media (max-width: 768px) {
  .login {
    overflow: visible;
    height: 100%;
  }
  .logo-signup p {
    flex: 0 0 60%;
    text-align: left;
  }
  .logo-signup svg {
    flex: 0 0 5%;
  }
  .left-login {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px;
  }

  .right-login {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px 10px;
  }
  .remember-me {
    flex: 0 0 50%;
    font-size: 13px;
  }
  .signup {
    flex: 0 0 100%;
    font-size: 13px;
  }
  .forget-pass a {
    font-size: 13px;
  }
  .first-name {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .last-name {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .right-login {
    position: unset;
  }
  .name {
    margin-bottom: 20px;
  }
  .create-account-links {
    font-size: 13px;
  }
}
