.hero-banner {
  background-color: var(--neutral_bg_color);
  padding: 3.74rem 0 0 0;
  margin-top: -5px;
}

.row-wrapper-content-with-image {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-banner-content {
  color: #fff;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-banner-content p {
  color: #cfcfd1;
}
.col-banner-image {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: right;
}

.col-banner-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr);    /* 2 rows */
  gap: 20px;
  max-width: 50%;
  border-radius: 10px;
  overflow: hidden;
  padding: 3em;
}

.col-banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.hero-banner .row-banner-btns {
  margin-top: 56px;
  display: flex;
  flex-direction: row;
}
.row-banner-btns div {
  padding: 16px 24px;
  margin-right: 10px;
}

/*Responsive Design */

@media (max-width: 767px) {
  .row-banner-btns div {
    padding: 16px;
  }
  .hero-banner .row-banner-btns {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .row-wrapper-content-with-image {
    flex-direction: column;
  }
  .col-banner-content {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 70px;
  }

  .col-banner-image {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding: 0;
  }
}
