/* quillCustom.css */

/* Dark mode styles */
.quill-dark .ql-toolbar,
.quill-dark .ql-container,
.quill-dark .ql-toolbar .ql-formats {
  background-color: var(--bg-secondary);
  color: #fff;
  border-color: #fff;
}

.quill-dark .ql-editor {
  background-color: var(--bg-secondary);
  color: #fff;
}

.quill-dark .ql-editor.ql-blank::before {
    color: #fff;
}

.quill-dark .ql-toolbar button,
.quill-dark .ql-toolbar .ql-picker {
  color: #fff;
}

.quill-dark .ql-toolbar .ql-picker-label,
.quill-dark .ql-toolbar .ql-picker-item {
  color: #ffff;
}

/* Light mode optional override (default is snow) */
.quill-light .ql-container {
  background-color: white;
  color: black;
}

.ql-toolbar { /* overide the header background */
  background-color: white !important;
}
.ql-expanded {
  background-color: white;
  color: black !important;
}

.ql-formats {
  background-color: white !important;
}

.ql-picker-label {
  color: black !important;
  background-color: white;
}

.ql-picker-item {
  color: black !important;
}
